@import url('https://fonts.googleapis.com/css2?family=Headland+One&family=Poppins:wght@100&display=swap');



/* CSS for flex-row layout */




.canvas-container {
  max-width: 50%;
  left: 0; 
  margin-right: auto;
}

  .box-1 {
   margin-top: 250px;
  
    height: 81px;
    text-align: center;
    width: 1058px;
    text-align: center; /* Center the text */
    color: #e4d48c;
    font-family: "Poppins-ExtraLight", Helvetica;
    font-weight: 200;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
  }
  .box-2
  {
    margin-top: 200px;
    height: 81px;
    text-align: center; /* Center the text */
    color: #e4d48c;
    font-family: "Poppins-ExtraLight", Helvetica;
    font-weight: 200;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Poppins', sans-serif;
    font-size: 46px;
    font-weight: 800;
  }
  .para{
    margin-top: 10px;
    font-size: 20px;

  }
 
  
  

  .box-3 {
    height: 367px;
    width: 519px;
  }
  
  .box-3 .group {
    height: 367px;
    left: 0;
    position: fixed;
    top: 0;
    width: 519px;
  }
  
  .box-3 .overlap {
    height: 367px;
    position: relative;
  }
  
  .box-3 .showreel {
    height: 367px;
    left: 0;
    position: absolute;
    top: 0;
    width: 519px;
  }
  
  .box-3 .overlap-group {
    background-image: url(./1-31-group39-31-showreel-31-overallwebsite.png);
    background-size: 100% 100%;
    height: 287px;
    position: relative;
    top: 81px;
  }
  
  .box-3 .element {
    height: 100px;
    left: 263px;
    position: absolute;
    top: 95px;
    width: 86px;
  }
  
  .box-3 .img {
    height: 54px;
    left: 51px;
    position: absolute;
    top: 313px;
    width: 308px;
  }
  

  @media screen and (max-width: 767px) {
   .bird{
    display: none !important;
   }
   .main{
    width: 100vw;
   }
   .box-2{
    margin-top: 10px;
   }

}
