@import url('https://fonts.googleapis.com/css2?family=Headland+One&family=Poppins:wght@100&display=swap');


.capture{
    font-family: "Poppins-ExtraLight",Helvetica;

    margin-top: 150px;
    color: #e4d48c;
    
}

@font-face {
    font-family: "poppins-extralight";
    src: url('./poppins.ttf');
  }